extends layout

block content
  include navbar
  - var curCar = cars[curCarId]
  .row
    .col-sm-2
      h4 Select your car:
      .list-group
        each car, i in cars
          a.list-group-item(href="/consumption/" + car.id, class={active: i === curCarId})=car.reg
        //-a.list-group-item.active(href="#") VW Passat 1.9 Diesel 99
        //-a.list-group-item(href="#") VW Golf 1.4 Petrol 04
    .col-sm-10
      span Fuel Consumption Log for:
      h3 #{curCar.make} #{curCar.model} #{curCar.year.getFullYear()} #{curCar.engineSize} [#{curCar.reg}]
      //-p VW Passat 1.9 Diesel 1999 99W811
      .panel.panel-primary
        .panel-heading
          h3.panel-title Average Consumption
        .panel-body #{avgCons}km/h #{avgConsMpg}mpg
      table.table.table-striped
        thead
          tr
            each entry in consTableHeaders
              th
                a(href="?sortBy=" + entry.sortBy + "&order=" + (entry.order || "desc"))= entry.name
                if entry.order
                  - var order = (entry.order === "desc" ? "-alt" : "")
                  span(class="glyphicon glyphicon-sort-by-attributes" + order)
            //- th
            //-   a(href="?sortBy=LogTime") Log Time
            //-   span.glyphicon.glyphicon-sort-by-attributes
            //- th
            //-   a(href="?sortBy=km100") Km/100
            //- th MPG
            //- th Miles
            //- th Kms
            //- th Gallons
            //- th Liters
        tbody
          each entry, i in consumptions
            tr
              td=entry.logtime
              td=entry.consumption
              td=entry.consumptionMpg
              td=entry.miles
              td=entry.kms
              td=entry.gallons
              td=entry.liters
          //-   td 10/10/2014
          //-   td 7/100
          //-   td 34.32343
          //-   td 4342/432434
          //-   td 434/4344
          //- tr
          //-   td 10/10/2014
          //-   td 7/100
          //-   td 34.32343
          //-   td 4342/432434
          //-   td 434/4344
          //- tr
          //-   td 10/10/2014
          //-   td 7/100
          //-   td 34.32343
          //-   td 4342/432434
          //-   td 434/4344
