extends layout

block content
  include navbar
  .row
    .col-sm-2
      h4 Select your car:
      .list-group
        each car, i in cars.data
          a.list-group-item(
            href="/consumption/" + car.id,
            class={active: car.active}
          )=car.reg
    .col-sm-10
      span Fuel Consumption Log for:
      - var curCar = cars.data[cars.currentCar.id]
      h3 #{curCar.make} #{curCar.model} #{curCar.year.getFullYear()} #{curCar.engineSize} [#{curCar.reg}]
      .panel.panel-primary
        .panel-heading
          h3.panel-title Average Consumption
        .panel-body #{consumptions.avgCons}km/h #{consumptions.avgConsMpg}mpg
      table.table.table-striped
        thead
          tr
            each entry in consumHead.data
              th
                if entry.sortBy === consumHead.activeColumn.sortBy
                  - var orderImg = (consumHead.activeColumn.order === -1 ? "-alt" : "")
                  a(href="?sortBy=" + entry.sortBy + "&order=" + (-consumHead.activeColumn.order))= entry.name
                  span(class="glyphicon glyphicon-sort-by-attributes" + orderImg)
                else
                  a(href="?sortBy=" + entry.sortBy + "&order=" + consumHead.defaultOrder)= entry.name
        tbody
          each entry, i in consumptions.data
            tr
              td=entry.logtime
              td=entry.consumption
              td=entry.consumptionMpg
              td=entry.miles
              td=entry.kms
              td=entry.gallons
              td=entry.liters
      nav
        ul.pagination
          li.prev(class={disabled: !consumPagination.summary.previous})
            a(href="#") Prev
          each page in consumPagination.pagination
            li(class={disabled: page.disabled})
              a(href="#")= page.name
          li.next(class={disabled: !consumPagination.summary.next})
            a(href="#") Next
