extends layout

block content
  include navbar
  .row
    .col-sm-2
      h4 Select your car:
      .list-group
        each car, i in cars
          a.list-group-item(
            href="/consumption/" + car.id,
            class={active: car.active}
          )=car.reg
    .col-sm-10
      span Fuel Consumption Log for:
      - var curCar = cars[currentCar.id]
      h3 #{curCar.make} #{curCar.model} #{curCar.year.getFullYear()} #{curCar.engineSize} [#{curCar.reg}]
      .panel.panel-primary
        .panel-heading
          h3.panel-title Average Consumption
        .panel-body #{avgCons}km/h #{avgConsMpg}mpg
      table.table.table-striped
        thead
          tr
            each entry in consumTableHeaders
              th
                a(href="?sortBy=" + entry.sortBy + "&order=" + entry.order)= entry.name
                if entry.activeOrder
                  - var orderImg = (entry.activeOrder === "desc" ? "-alt" : "")
                  span(class="glyphicon glyphicon-sort-by-attributes" + orderImg)
        tbody
          each entry, i in consumptions
            tr
              td=entry.logtime
              td=entry.consumption
              td=entry.consumptionMpg
              td=entry.miles
              td=entry.kms
              td=entry.gallons
              td=entry.liters
      nav
        ul.pagination
          li.prev(class={disabled: !consumPagination.summary.previous})
            a(href="#") Prev
          each page in consumPagination.pagination
            li(class={disabled: page.disabled})
              a(href="#")= page.name
          li.next(class={disabled: !consumPagination.summary.next})
            a(href="#") Next
