extends layout

block content
  include navbar
  .row

    //-----------------------------------
    //- Car Menu
    //-----------------------------------

    .col-sm-2
      h4 Select your car:
      .list-group
        each car, i in cars.data
          a.list-group-item(
            href="/consumption/" + car.id,
            class={active: car.active}
          )=car.reg
    .col-sm-10

      //-----------------------------------
      //- Banner - car and avg cons
      //-----------------------------------

      - var curCar = cars.data[cars.currentCar.id]
      h3
        |#{curCar.make} #{curCar.model} #{curCar.year.getFullYear()}
        |#{curCar.engineSize} (#{curCar.reg})
      hr
      a(type="button" class="btn btn-primary" href="/consumptionnew/" + curCar.id)
        |Add New Consumption Record
      br
      br
      .panel.panel-default
        .panel-heading
          h3.panel-title Consumption Statistics:
        .panel-body
          div(role="tabpanel")
            ul.nav.nav-tabs(role="tablist")
              li.nav.active(role="presentation")
                a(href="#average", data-toggle="tab") Average
              li.nav(role="presentation")
                a(href="#min", data-toggle="tab") Minimum
              li.nav(role="presentation")
                a(href="#max", data-toggle="tab") Maximum
            .tab-content
              .tab-pane.fade.in.active#average(role="tabpanel")
                table.table.table-bordered
                  thead
                    tr
                      th l/100Km
                      th mpg
                  tbody
                    tr
                      td= consumptions.avgCons
                      td= consumptions.avgConsMpg
              .tab-pane.fade#min(role="tabpanel")
                table.table.table-bordered
                  thead
                    tr
                      th l/100km
                      th mpg
                  tbody
                    tr
                      td= consumptions.minCons
                      td= consumptions.minConsMpg
              .tab-pane.fade#max(role="tabpanel")
                table.table.table-bordered
                  thead
                    tr
                      th l/100km
                      th mpg
                  tbody
                    tr
                      td= consumptions.maxCons
                      td= consumptions.maxConsMpg
      //- .panel.panel-default
      //-   .panel-heading
      //-     h3.panel-title Average Consumption:
      //-   .panel-body
      //-     .row
      //-       .col-sm-6
      //-         span #{consumptions.avgCons} l/100 km
      //-       .col-sm-6
      //-         span #{consumptions.avgConsMpg} mpg

      .panel.panel-default
        .panel-heading
          h3.panel-title Consumption Log:
        .panel-body

          //-----------------------------------
          //- Consumption table
          //-----------------------------------

          if noConsumptionLogs
            .alert.alert-warning(role="alert")
              |You have no consumption log records.
          else
            table.table.table-striped
              thead
                tr
                  - var pageQueryParam = "&page=" + consumPagination.summary.currentPage;
                  each entry in consumHead.data
                    th
                      if entry.sortBy === consumHead.activeColumn.sortBy
                        - var orderImg = (consumHead.activeColumn.order === -1 ? "-alt" : "")
                        a(href="?sortBy=" + entry.sortBy + "&order=" + (-consumHead.activeColumn.order) + pageQueryParam)= entry.name
                        span(class="glyphicon glyphicon-sort-by-attributes" + orderImg)
                      else
                        a(href="?sortBy=" + entry.sortBy + "&order=" + consumHead.defaultOrder + pageQueryParam)= entry.name
              tbody
                each entry, i in consumptions.data
                  tr
                    td=entry.logtime
                    td=entry.consumption
                    td=entry.consumptionMpg
                    td=entry.miles
                    td=entry.kms
                    td=entry.gallons
                    td=entry.liters

          //-----------------------------------
          //- Pagination
          //-----------------------------------
          if !noConsumptionLogs
            nav
              ul.pagination
                - var sortQueryParams = "&sortBy=" + consumHead.activeColumn.sortBy + "&order=" + consumHead.activeColumn.order;

                - var firstPageAvailable = consumPagination.summary.currentPage != 1
                li.first(class={disabled: !firstPageAvailable})
                  if (firstPageAvailable)
                    a(href="?page=1" + sortQueryParams) First
                  else
                    span First

                - var prevPageAvailable = !!consumPagination.summary.prevPage
                li.prev(class={disabled: !prevPageAvailable})
                  if (prevPageAvailable)
                    a(href="?page=" + consumPagination.summary.prevPage + sortQueryParams) Prev
                  else
                    span Prev

                each page in consumPagination.pagination
                  li(class={disabled: page.disabled})
                    if (!page.disabled)
                      a(href="?page=" + page.name + sortQueryParams)= page.name
                    else
                      span
                        strong= page.name

                - var nextPageAvailable = !!consumPagination.summary.nextPage
                li.next(class={disabled: !nextPageAvailable})
                  if (nextPageAvailable)
                    a(href="?page=" + consumPagination.summary.nextPage + sortQueryParams) Next
                  else
                    span Next

                - var lastPageAvailable = consumPagination.summary.currentPage != consumPagination.summary.pagesNumber
                li.first(class={disabled: !lastPageAvailable})
                  if (lastPageAvailable)
                    a(href="?page=" + consumPagination.summary.pagesNumber + sortQueryParams) Last
                  else
                    span Last